.header {
	padding: 20px;
	margin-bottom: 40px;
	position: absolute;
	width: 100%;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.description {
	opacity: .8;
	cursor: pointer;
}

.description::before {
	font-family: fontawesome;
	content: "\f177";
	margin-right: 15px;
}

@media(max-width:768px) {
	.header {
		position: fixed;
		z-index: 100;
		background-color: #fff;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}

	.description {
		color: #fff;
	}

	.description::before {
		color: #000;
		font-size: 28px;
	}
}