.item {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	width: 33.33%;
}

.wrapper {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	background-color: #ff0000;
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	width: 60px;
}

.descripton {
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}

@media(max-width:767px) {
	.item:not(:last-child) {
		margin-bottom: 30px;
	}

	.item {
		width: 100%;
	}
}