.wrapper {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	background-color: #000;
	padding: 10px 30px;
	margin-bottom: 20px;
	border-radius: 30px;
	display: inline-block;
	text-align: center;
}

@media(max-width:768px) {
	.wrapper {
		font-weight: 400;
		padding: 10px;
	}
}