.footer {
	padding: 20px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media(max-width:767px) {
	.footer {
		padding: 40px 0;
	}

	.wrapper {
		flex-direction: column;
	}
}