.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 100px;
	cursor: auto;
}

.items {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	z-index: 2;
}

.itemsImage {
	width: calc(50% - 20px);
	overflow: hidden;
	max-height: 560px;
	border-radius: 20px;
}

.itemsImage img {
	width: 100%;
	border-radius: 20px;
	object-fit: cover;
}

@media(max-width:1020px) {
	.items {
		flex-direction: column;
	}

	.itemsImage {
		width: 100%;
		margin: 0 auto 30px auto;
	}
}

@media(max-width:768px) {
	.items {
		flex-direction: column;
	}

	.itemsImage {
		width: 100%;
		max-width: 560px;
		margin-bottom: 30px;
	}
}

@media(max-width:425px) {


	.itemsImage {
		max-width: 360px;
	}
}