.link {
	color: #fff;
	font-size: 40px;
}

@media(max-width:955px) {
	.link {
		margin-bottom: 28px;
	}
}

@media(max-width:650px) {
	.link {
		font-size: 30px;
	}
}

@media(max-width:500px) {
	.link {
		font-size: 26px;
	}
}